<%= render partial: "layouts/header", locals: { bg_image: asset_pack_url('media/images/home-bg.jpg') }%>
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <h3 class="mb-5">All posts</h3>
      <div class="post-list">
        <%= render partial: "posts/post", collection: @posts, as: :post %>
      </div>
      <%= link_to "Older posts", root_path(page: 2), class: 'btn btn-primary float-right load-more' %>
    </div>
  </div>
</div>
