<header class="masthead">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="post-heading">
          <h1>Edit post</h1>
          <br>
        </div>
      </div>
    </div>
  </div>
</header>

<article>
  <%= render partial: "posts/form", locals: { post: @post } %>
</article>
